<p>If you like us, share your email:</p>

<form id="subscribe"  action="/subscribe" method:"post">
		<input class="subscribe" label="email"type="email" value="your@email.com" autofocus="autofocus">
		<button type="submit" form="subscribe">>></button>
</form>

