<% @posts.each do |post| %>
  <article>
    <h2><%= link_to post.title, post %></h2>
    <div class="postdate">
      Posted <time datetime="<%= post.created_at.strftime('%F') %>"><%= time_ago_in_words post.created_at %></time> ago
    </div>
    <p><%= post.text.html_safe %></p>
  </article>
<% end %>