/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Calluna-Regular', sans-serif;
	font-weight: normal;
	font-style: normal;
}

/* @group clearfix */
	
	/**
	 * For modern browsers
	 * 1. The space content is one way to avoid an Opera bug when the
	 *    contenteditable attribute is included anywhere else in the document.
	 *    Otherwise it causes space to appear at the top and bottom of elements
	 *    that are clearfixed.
	 * 2. The use of `table` rather than `block` is only necessary if using
	 *    `:before` to contain the top-margins of child elements.
	 */
	.cf:before,
	.cf:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	.cf:after {
	    clear: both;
	}

	/**
	 * For IE 6/7 only
	 * Include this rule to trigger hasLayout and contain floats.
	 */
	.cf {
	    *zoom: 1;
	}

/* @end */

/* @group containers */

	.global-wrapper {
		position: absolute;
		width: 100%;
		min-height: 600px;
	}

	.content {
		width: 80%;
		max-width: 900px;
		margin: auto;
	}

/* @end */

/* @group main structure */

	#welcome {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	#blog {
		position: absolute;
		top: 100%;
		padding-top: 200px;
		right: 0;
		left: 0;
	}

	header {
		text-align: center;
		font-size: 62px;
		line-height: 62px;
		margin-top: 20px;
	}

	nav {
		text-align: center;
		text-transform: uppercase;
		position: absolute;
		top: 100%;
		margin-top: -300px;
		display: block;
		width: 100%;
		padding-bottom: 120px;
		background: red url(white_gradient.png) repeat-x 0 100%;
		z-index: 1;
	}

	nav ul {
		font-size: inherit;
		background-color: #fff;
	}

	nav li {
		margin: auto;
		display: block;
		width: 240px;
		height: 240px;
		border-radius: 120px;
		font-size: 36px;
		line-height: 24px;
		background-color: #000;
		text-align: center;
	}

	.anchorLink {
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		-ms-transition: none;
		transition: none;
		display: block;
		font-weight: 600;
		position: relative;
		top: 110px;
		color: white;
		text-decoration: none;
	}

	.anchorLink:visited {
		color: white;
	}

/* @end */

/* @group featured */
	#featured {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 25px;
		line-height: 40px;
		padding: 20px 0;
	}

	#subscribe {
		position: relative;
		left: 50%;
		margin-left: -175px; /*352/2*/
	}

	.subscribe_form {
		border: 1px solid #000;
		height: 40px;
		width: 300px;
		font-size: 20px;
		text-align: center;
		font-family: 'Calluna-Regular';
		margin-right: 0;
		float: left;
	}

	button {
		display: inline-block;
		margin-left: 0;
		height: 44px;
		vertical-align: bottom;
		border: 1px solid #000;
		background-color: black;
		color: #fff;
		font-size: 20px;
		float: left;
		cursor: pointer;
	}

/* @end */


