// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	font-size: 56px;
	line-height: 60px;
}

article {
	width: 100%;
	padding: 10px 0px 10px 0px;
	margin-bottom: 10px;
	box-align: border-box;
	padding-bottom: 10px;
	text-align: center;

	p {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 30px;
		text-align: left;
	}

	img {
		max-height: 800px;
		margin-bottom: 30px;
	}

	embed {
		margin: auto;
		display: block;
	}
}

.postdate {
	font-size: 18px;
	padding-bottom: 20px;
}